<div class="breadcrumbs">
  <%=
    link_to 'Ministries',
    ministries_path
  %> /
  <%=
    link_to @role.ministry.name,
    ministry_path(@role.ministry)
  %> /
  Roles /
  <%=
    link_to @role.name,
    role_path(@role)
  %> /
  New Apprentice
</div>
<div class="section-heading">
  New Apprenticeship
</div>

<%= render 'form' %>
